// html, body {
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
// }

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.page-main {
  flex-grow: 1;
}

.footer {
    margin-top: auto;
}

.footer {
	padding: 60px 0;
	background-color: #e3e3e3;
}