// fonts
$fontMain: Nunito, sans-serif;
$fontAccent: Inter, sans-serif;

// media
$desktop: 1180px;
$tabletWidth: 640px;
$mobileWidth: 320px;

// colors
$colorTextMain: rgba(255, 255, 255, 1);
$colorTextAccent: rgba(52, 63, 82, 1);
$colorTextLink: rgba(123, 126, 144, 1);
$pageBg: rgba(255, 255, 255, 1);
$pointbg:rgba(255, 177, 200, 1);
$footerbg:rgba(0, 175, 84, 1);
$socialbg:rgba(249, 143, 41, 1);
$closePaint:rgba(229, 229, 234, 1);

// container
$containerWidth: 1180px;
$containerPadding: 30px;
